# Exclude environment variables
.env
.idea
__MACOSX/

/app/package/*/.idea/

#Exclude log files except the .gitignore
/app/storage/logs/*
!/app/storage/logs/.gitkeep

# Exclude all other packages, only if package is "core" (Core, Users, Menus...)
!/app/package
/app/package/*

!/app/package/core
!/app/package/users
!/app/package/menus
!/app/package/pages

# Exclude all other views, only if view refer to a core package (Core, Users, Menus...)
/public/themes/*
!/public/themes/Sampler/views
!/public/themes/Sampler/resources
/public/themes/Sampler/views/*

!/public/themes/Sampler/views/includes
!/public/themes/Sampler/views/core
!/public/themes/Sampler/views/users
!/public/themes/Sampler/views/errors
!/public/themes/Sampler/views/alerts
!/public/themes/Sampler/views/template.php
!/public/themes/Sampler/config

# Exclude all uploads folders and files except the default profile image
!/public/uploads/users/default/defaultImage.jpg
!/public/uploads/favicon/favicon.ico
/public/uploads/*
